# Node modules
backend/node_modules/
frontend/node_modules/

# Tệp môi trường chứa mật khẩu / API key
backend/.env
frontend/.env
frontend/.env.local

# Thư mục build của Frontend
frontend/dist/
frontend/build/

# Tệp hệ thống / Editor
.DS_Store
.vscode/
*.log